/* Стили для контейнера ShoppingCart */
.shopping-cart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
  }
  
  /* Стили для каждого элемента в списке */
  .appointment-item {
    border: 1px solid #0d0000;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .appointment-item p {
    margin: 5px 0;
  }
  
  /* Стили для кнопки удаления */
  .delete-button {
    background-color: #ff6347;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .delete-button:hover {
    background-color: #d1472d;
  }
  
  /* Стили для кнопки "Сформировать" */
  .generate-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .generate-button:hover {
    background-color: #45a049;
  }

  .my-applications-link {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    position: absolute; /* Позиционирование */
    top: 70px; /* Верхний край */
    right: 20px; /* Отступ справа */
  }
  
  .my-applications-link:hover {
    text-decoration: none;
  }