.no-applications-message {
    text-align: center; /* Центрирование текста по горизонтали */
    margin-top: 20px; /* Пространство сверху (по желанию) */
}

.no-applications-message h2 {
    color: #333; /* Цвет текста (по желанию) */
}