.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

$color: #0cf;

.buttoncreate {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #0f0000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.buttoncreate > a {
  text-decoration: none;
  color: inherit;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 3px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: rgb(137,206,239);
}

.table tr {
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.table tr:hover {
  background-color: darken(#fff, 10%);
}

.editbutton, .delete {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.editbutton a {
  text-decoration: none;
  color: inherit;
}

.delete {
  background-color: #f44336;
}

.editbutton:hover  {
  background-color: #45a049;
}

.delete:hover {
  background-color: #dc1406;
}