.card {
    border: 10px solid #025f8a;
    margin: 30px;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.cardText {
    font-size: 16px;
}

.cardImage {
    border: 2px solid #3545f8;
    height: 150px;
    width: 150px;
    object-fit: cover;
    align-self: center;
}

.cardButton {
    display: flex;
    gap: 10px; /* Расстояние между элементами */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
}
  
/* Стили для ссылки "Подробнее" */
.cardButton a {
    text-decoration: none; /* Убираем подчеркивание ссылки */
    color: #007bff; /* Цвет текста ссылки */
    font-weight: bold; /* Жирный шрифт */
    transition: color 0.3s; /* Плавный переход цвета текста */
}
  
.cardButton a:hover {
    color: #0056b3; /* Цвет текста ссылки при наведении */
}