.inputField {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.inputField input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(137,206,239);
    margin-left: 10px;
}

.inputField label {
    font-size: larger;
}